.Table {
  text-align: center;
}

.Table-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.all {
  width: 90%;
}

.column {
  float: left;
  width: 50%;

  text-align: center;
  height: 90vh;
  overflow-y: scroll;

}

.row {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.header {
  width: 100%;
  padding: 20px;
  text-align: center;
}

#column1 {
  background-color: #2d2d2d;
}

#column2 {
  background-color: #bbb;
}

#edit-label {
  margin: 5px;
  width: 200px;
}

#add-column {
  margin: 5px;
  width: 200px;
}

.row:after {
  display: table;
  clear: both;
}

#products {
  text-align: center;
  border-collapse: collapse;
  border: 2px solid #ddd;
  width: 80%;
}

#products td, #products th {
  border: 1px solid #ddd;
  padding: 8px;
}


#products tr:hover {background-color: #ddd;}

#products th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2d2d2d;
  color: white;
}
